# Kopiere diese Datei als ".env" und fülle die Werte aus.
# Die .env-Datei ist in .gitignore und wird NICHT ins Repository eingecheckt.

# Anwendung
APP_PORT=9011
JWT_SECRET=3fHnjd76hdj567dh390NGhjx2hd56swysfpo8ndü061sqFgRth
# Datenbank
DB_NAME=italian_db_test
DB_PASSWORD=dbpass_test
DB_PORT=5436
DB_VOLUME=postgres_data

# E-Mail (SMTP)
SMTP_PASS=Gmxgmxsindbadistvega#1160
