# Kopiere diese Datei als ".env" und fülle die Werte aus.
# Die .env-Datei ist in .gitignore und wird NICHT ins Repository eingecheckt.

# Anwendung
APP_PORT=9011
JWT_SECRET=ENTFERNT
# Datenbank
DB_NAME=italian_db_test
DB_PASSWORD=ENTFERNT
DB_PORT=5436
DB_VOLUME=postgres_data

# E-Mail (SMTP)
SMTP_PASS=ENTFERNT
